<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>GIDClientID</key>
		<string>453647123511-7i6411ac0ulmg1qvkik2vm9q0vspu7l6.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>coffeeclubios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.453647123511-7i6411ac0ulmg1qvkik2vm9q0vspu7l6</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>URL types</key>
	<array>
		<string>coffee-club</string>
	</array>
</dict>
</plist>
